<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Quản lý nhập hàng - Danh sách tivi</title>
</head>

<body>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/quan-ly-nhap-hang">Danh sách tivi</a>
                            </li>
                            <li class="nav-item ">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/quan-ly-nhap-hang/thong-ke-so-luong-ton-ngay" aria-disabled="true">Xem số lượng tồn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/quan-ly-nhap-hang/dang-xuat" aria-disabled="true">Đăng xuất</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" method='post'>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search' value=''>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <br>
        <h3>Xin chào quản lý nhập hàng <i>{{ nv['Ho_ten']}}</i></h3>
        <br>
        <div class="row">
            {% for item in ds_tv%}
            <div class="col-md-4">
                <div class="media border p-3">
                    <img src="{{url_for('static', filename = 'media/' + item['Ma_so'] + '.png')}}" class="mr-3" alt="{{item['Ten']}}" style="width:20%">
                    <div class="media-body">
                        <h6 class="mt-0"><strong>{{item['Ten']}}</strong></h6>
                        <p>Đơn giá nhập: {{ item['Don_gia_Nhap']}} VNĐ</p>
                        <p>Số lượng tồn: {{ item['So_luong_Ton']}} </p>
                        <a href="/quan-ly-nhap-hang/cap-nhat-gia-nhap/{{item['Ma_so']}}">Cập nhật</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>